@charset "UTF-8";
@import "./mixin.scss";

// media width
$pad: 768px;
$iphone5: 320px;
$pc: 1024px;
$pc1920: 1920px;

// layout
// pages/index 模板內有用到
$header-height: 50px;
$footer-height: 50px;

// z-index
$z-index: back, base, fixed, popWrapper, popContent;

// color
$base-bg: #fff;
$header-bg: linear-gradient(40deg, #f5fdfe, #e2f2f8);
$tab-active: #d8effe;
$tab: #ebf7fe;
$form-boder-color: #ddd;
$base-font-color: #767474;
$tip-font-color: #c5c9cb;
$acitve-font-color: #409eff;
$acitve-hover-font-color: #66b1ff;
$warning-font-color: #e6a23c;
$warning-background-color: #fdf5e6;
$danger-font-color: #f56c6c;
$danger-background-color: #fef0f0;
$success-font-color: #67c23a;
$success-background-color: #f0f9eb;
$header-font-color: #767474;
$login-font-color: #333333;
$login-background-color: rgba(210, 214, 222, 1);
$arrow-icon-color: #c0c4cc;
$negative-color: #d11f18;
$border-color: #e4e7ed;
$line: #dcdfe6;
$hover: #ecf5ff;
$shadow-color: rgba(48, 49, 51, .04);
$header-bar-background-color: #3c8dbc;
$header-bar-active-background-color: #357ca5;
$main-title-font-color: #333333;
$sub-title-font-color: #777777;
$block-title-font-color: #444;
$primary-button-hover-color: #3279a2;
$primary-button-border-color: #367fa9;
$default-button-border-color: #767676;
$default-button-background-color: #EFEFEF;
$default-button-hover-color: #dad9d9;

//animate
@mixin basetransition ($property: all , $duration: .3s, $funtction: ease) {
  transition: $property $duration $funtction;
}

// aside-menu
$aside-width: 230px;
$aside-width-zoom: 50px;
$aside-top-bg: #3c8dbc;
$aside-background-color: #222d32;
$aside-sub-bg: #2c3b41;
$aside-sub-text: #8aa4af;
$aside-sub-active: #fff;
$aside-text: #b8c7ce;
$aside-active: #fff;

// border-radius
$radius: to-rem(4px);
$dialog-border-radius: to-rem(16px);

// font
$font-normal: to-rem(16px);
$font-mini: $font-normal * .75;


.is-active {
  color: $acitve-font-color;
}

html {
  font-size: 14px;
}

body {
  position: relative;
  overflow-x: hidden;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  font-size: 100%;
  font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
  line-height: 1;
  color: $base-font-color;
  background-color: $base-bg;
}

* {
  outline: none;
  box-sizing: border-box;
}

.el-menu a {
  text-decoration: unset;
}

.content-label {
  display: inline-block;
  margin-right: to-rem(16px);
  margin-bottom: to-rem(16px);
  min-width: to-rem(210px);

  .label {
    font-size: to-rem(14px);
    font-weight: 700;
    margin-bottom: to-rem(5px);
    color: $main-title-font-color;
    line-height: 1.2;
  }

  & .el-select,
  & .el-cascader {
    width: 100%;
    font-size: to-rem(14px);
  }
}

// 主按鈕
.button-label {
  display: inline-block;

  button {
    padding: to-rem(6px) to-rem(12px);
    min-height: to-rem(34px);
    color: #fff;
    font-size: to-rem(14px);
    font-weight: 400;
    background-color: $aside-top-bg;
    border-color: $primary-button-border-color;

    &:hover {
      background-color: $primary-button-hover-color;
    }

    &:focus{
      background-color: $primary-button-hover-color;
    }
  }
}

// 標題層級按鈕
.title-button-label {
  display: inline-block;

  button {
    padding: to-rem(1px) to-rem(6px);
    min-height: to-rem(24px);
    color: $aside-top-bg;
    font-size: to-rem(12px);
    border: to-rem(1px) solid $default-button-border-color;
    font-weight: 400;
    background-color: $default-button-background-color;

    &:hover {
      background-color: $default-button-hover-color;
      border: to-rem(1px) solid $default-button-border-color;
      color: $aside-top-bg;
    }

    &:focus{
      background-color: $default-button-hover-color;
      border: to-rem(1px) solid $default-button-border-color;
      color: $aside-top-bg;
    }
  }
}

// 列表table-進階 欄位內的按鈕
.table-button-label {
  display: inline-block;

  button {
    margin-right: to-rem(5px);
    padding: to-rem(1px) to-rem(6px);
    min-height: to-rem(26px);
    color: $main-title-font-color;
    font-size: to-rem(14px);
    border: to-rem(1px) solid $default-button-border-color;
    font-weight: 400;
    background-color: $default-button-background-color;

    &:hover {
      background-color: $default-button-hover-color;
      border: to-rem(1px) solid $default-button-border-color;
      color: $main-title-font-color;
    }

    &:focus{
      background-color: $default-button-hover-color;
      border: to-rem(1px) solid $default-button-border-color;
      color: $main-title-font-color;
    }
  }
}

.el-table {
  .cell {
    color: #333333;
  }
}

::v-deep(.el-input__inner) {
  height: 34px
}
